@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-image: linear-gradient( #000, #eccc16);
}

.ui-manu-color-home { 
    background-color: #eccc16;
}

.ui-manu-color-about {
    background-color: #eccc16;
}

.ui-manu-color-lessons {
    background-color: #eccc16;
}

.ui-manu-color-contact {
    background-color: #eccc16;
}

/*--------------------------------------------Header*/

header {
    margin: 0;
}

.bt-shadow {
    box-shadow: 0 3px 8px #000;
}

.heading {
    margin-left: 50px;
    border: 0;
}

.logo {
    background: url("../images/logo-guitar-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;

}

.name {
    font-family: "Sansita Swashed", sans-serif;
    font-weight: 100;
    font-size: 70px;
    margin-top: 50px;
    text-align: left;
    padding-left: 35px;
    padding-right: 70px;
    color: #eccc16;
    text-shadow: 2px 2px 5px #000;
}

.title {
    font-family: "Sansita Swashed", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    text-align: center;
    padding-right: 70px;
    color: #eccc16;
    text-shadow: 3px 3px 8px #000;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000;
    height: 120px;
}

.menuitem a i {
    padding-top: 30px;
    display: block;
    color: #000;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0,0,0,0.2);
    height: 120px;
}

/*--------------------------------------------Hero*/
.divider {
    width: 175px;
    height: 0;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #444;

}

.hero-container {
   
    max-width: 100%;
    min-height: 360px;
    border: 0;
    background-image: url("../images/hero-guitar-2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 8px #000, 0 -3px 8px #000;
   
   display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}



.jumbotron {
    background: transparent;

    
}

.jumbotron-header {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding-top: 25px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #000;
}

.lead {
   
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding-top: 10px;
    
    text-shadow: 3px 3px 5px #000;
}

#head, #lead {
    color: #eccc16;
	-webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: #000;
}

.solid .jumbotron-header .lead {
    
    background: rgba(0, 0, 0, 0.9);
}

.bottom-right {
    padding-top: 25px
}

.list-j {
    padding-left: 10px;
}

.btn-yel {
    
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    color: #000;
    background-color: #eccc16;
    box-shadow: 0 3px 8px #000;
}



.btn-yel:hover,
.btn-yel:active,
.btn-yel:focus,
.btn-yel:active:focus {
    background-color: #000;
    color: #eccc16;
}

/*--------------------------------------------journey*/


.journey-container {
    max-width: 100%;
    min-height: 360px;
    border: 0;
    background-image: linear-gradient(to top, #000, #eccc16); 
    box-shadow: 0 3px 8px #000, 0 -3px 8px #000;  

}

.my-base {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 25px;
    color: #eccc16;
	-webkit-text-stroke-width: .9px;
    -webkit-text-stroke-color: #000;
    text-shadow: 2px 2px 5px #000;
}

.my-float {
    padding-right: 5px; 
    padding-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
  
}

.my-float li {
    border: 0;
    padding-left: 10px; 
    height: 60px;
}

#text-change {
    font-size: 90%;
    color: #eccc16;
	-webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: #000;
}

.text {
    font-family: "Exo", sans-serif;
    padding-left: 10px; 
    font-weight: 600;
    text-shadow: 2px 2px 8px #000;
    
}

.my-float i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 12.5%;
    font-size: 12px;
    box-shadow: 2px 2px 8px #000;
    line-height: 7px;
    text-align: center;
    color: #000;
    background: #eccc16; 
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.my-float li i:hover {
    color: #eccc16;
    background: #000;
}

/*--------------------------------------------Footer*/


.footer-container {
    max-width: 100%;
    min-height: 120px;
    border: 0;
    background-image: linear-gradient(to bottom, #000, #eccc16); 
    box-shadow: 0 3px 5px #000, 0 -4px 5px #000; 
}

.my-sub {
    font-family: "Exo", sans-serif;
    padding-top: 10px;
    font-weight: 600;
    text-shadow: 2px 2px 5px #000;
}

.uppercase {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
    
}


#my-footer {
    color: #eccc16;
	-webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: #000;
}

.page-link-container {
    font-family: "Exo", sans-serif;
    margin: 0;
    padding-top: 20px;
    
}

#page-links, #social-links {
    display: flex;
    justify-content: center;
}

#page-links li {
    font-size: 14px;
    padding: 10px 10px 10px 10px; 
    
}



.page-link-item {
    text-align: center;
    padding-bottom: 20px;
}

.page-link-item a {
    width: 100%;
    text-decoration: none;
    color: #eccc16;
	-webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: #000;
    height: 120px;
}

.page-link-item i {
    padding-top: 10px;
    display: block;
    color: #eccc16;
	-webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: #000;
    font-size: 20px;
    
}


.page-link-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}


.list-ft {
    padding-left: 5px;
}


.social-links {
    padding-top: 10px;
}

.social-links li {
    padding: 0 15px 10px 15px;
}

.social-links i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 12.5%;
    box-shadow: 2px 2px 8px #000;
    line-height: 7px;
    text-align: center;
    color: #000;
    background: #eccc16; 
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.social-links li i:hover {
    color: #eccc16;
    background: #000;
}

.center-p {
    text-align: center;
    font-size: 80%;
    padding-top: 10px;
}

/*--------------------------------------------About-hero-section*/

.about-container {
    height: 50vh;
    max-width: 100%;
    min-height: 360px;
    border: 0;
    background-image: url("../images/hero-guitar.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 8px #000, 0 -5px 8px #000;
   
   display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.history-container {
    max-width: 100%;
    min-height: 360px;
    padding: 30px 70px 20px 70px;
    border: 0;
    background-image: linear-gradient(to bottom, #000, #eccc16); 
    box-shadow: 0 3px 5px #000, 0 -4px 5px #000; 
}

#about-text {
    font-family: "Sansita Swashed", sans-serif;
    text-align: center;
    color: #eccc16;
	-webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: #000;
    text-shadow: 2px 2px 5px #000;

}

.my-about {
    padding-bottom: 30px;
}

.center-about {
    text-align: center;
    font-size: 150%;
    padding-top: 10px;
}

/*--------------------------------------------About-quotes-section*/

.quotes-container {
    max-width: 100%;
    min-height: 360px;
    border: 0;
    background-image: linear-gradient(to top, #000, #eccc16); 
    box-shadow: 0 3px 8px #000, 0 -3px 8px #000;  
}

/*--------------------------------------------media-query*/

@media (min-width: 786px) {
        .list-j {
            padding-left: 120px;
        }
}