@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #000;
}

.ui-manu-color-home { 
    background-color: #eccc16;
}

.ui-manu-color-about {
    background-color: #eccc16;
}

.ui-manu-color-lessons {
    background-color: #eccc16;
}

.ui-manu-color-contact {
    background-color: #eccc16;
}

/*--------------------------------------------Header*/

header {
    margin: 0;
}

.bg-shadow {
    box-shadow: 0 5px 8px #000;
}

.heading {
    margin-left: 50px;
    border: o;
}

.logo {
    background: url("../images/logo-guitar-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;

}

.name {
    font-family: "Sansita Swashed", sans-serif;
    font-weight: 100;
    font-size: 70px;
    margin-top: 50px;
    text-align: left;
    padding-left: 35px;
    padding-right: 70px;
    color: #eccc16;
    text-shadow: 2px 2px 5px #e6ddc1;
}

.title {
    font-family: "Sansita Swashed", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    text-align: center;
    padding-right: 70px;
    color: #eccc16;
    text-shadow: 3px 3px 8px #e6ddc1;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000;
    height: 120px;
}

.menuitem a i {
    padding-top: 30px;
    display: block;
    color: #000;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0,0,0,0.2);
    height: 120px;
}

/*--------------------------------------------Hero*/
.divider {
    width: 175px;
    height: 0;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #444;

}

.hero-container {
    height: 50vh;
    max-width: 100%;
    min-height: 360px;
    border: 0;
    background-image: url("../images/hero-guitar-2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 8px #000, 0 -5px 8px #000;
   
   display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}



.jumbotron {
    background: transparent;

    
}

.jumbotron-header {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding-top: 20px;
   
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #5e5026;
}

.lead {
   
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding-top: 10px;
    
    text-shadow: 3px 3px 5px #726230;
}



.solid .jumbotron-header .lead {
    
    background: rgba(0, 0, 0, 0.9);
}

.bottom-right {
    padding-top: 25px
}



.btn--cta {
    
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: #fafafa;
    background-color: #bb3011;
    border-color: #bb3011;
    box-shadow: 3px 3px 8px #000;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #bb3011;
    border-color: #bb3011;
}

/*--------------------------------------------journey*/

.journey-container {
    min-height: 360px;
    padding: 0;
}


.spaced {
  
  padding: 0;
  padding-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  
}
.spaced li {
    border: 0;
    padding-left: 15px; 
    height: 60px;
}

#bd-shadow, #be-shadow, #bf-shadow,
#bg-shadow, #bh-shadow {
    color: #eccc16;
	-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.text {
    padding-left: 10px;
    font-size: 80%;
    font-weight: bold;
    text-shadow: 3px 3px 5px #000;
    
}

.spaced i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 12px 0;
    box-shadow: 2px 2px 8px #000;
    line-height: 7px;
    text-align: center;
    color: #000;
    background: #eccc16; 
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.list-inline li i:hover {
    color: #eccc16;
    background: #000;
}

